* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
  font-style: normal;
}

ul {
  padding-left: 0;
  list-style: none;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 20%;
}

.mainContainer h1 {
  font-size: 20px;
  width: 70%;
  padding-left: 3%;
}

.mainList {
  display: flex;
  flex-direction: column;
  padding: 3% 0;
  width: 70%;
}

.mainList ul {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 5%;
  box-shadow: 0 0 8px rgb(0 0 0 / 15%);
  margin: 0;
}

.mainList ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mainList ul li:nth-child(1) {
  border-top: none;
}

.checkInput {
  position: relative;
  left: -1rem;
}

.label {
  width: 90%;
  color: black;
  border: none;
}

.para-label {
  text-decoration: line-through;
  color: grey;
}

.clearAllBtn {
  display: block;
  font-size: 14px;
  background-color: #fff;
  padding: 10px 3% 15px 3%;
  width: 100%;
  border: none;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.clearAllBtn:hover {
  border: 1px solid rgb(235, 233, 233);
  background-color: gray;
  color: white;
}

button {
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.addInput {
  border: none;
  width: 100%;
  padding: 20px 20px 20px 20px;
  font-size: 18.7px;
}

.hide {
  display: none;
  cursor: pointer;
}

.pointsBtn:hover {
  border: 1px solid gray;
  width: 10px;
  align-self: center;
  cursor: progress;
}

.upperOfList {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 -3px 8px rgb(0 0 0 / 15%);
}

.changeChk {
  text-decoration: line-through;
  color: rgb(71, 80, 80);
}
